* {
    margin: 0;
    padding: 0;

}



.Logo {
    /* width: 50%;
    height: 70%;
    display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
    width: 100px;
    height: 80px;
    overflow: hidden;
    margin: 5px;



}

.Logo img {

    width: 70%;
    height: 70%;
    object-fit: cover;
    border: 2px solid whitesmoke;
    border-radius: 50%;


}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    top:0; */
    cursor: pointer;
    background-color: black;
    color: white;
    

}

.img-home{

    width: 30px;
    height: 302px;
}

.rightnav {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    margin-right: 80px;
}

.rightnav button {
    margin-top: 6px;
    height: 28px;
    border: 2px solid white;
     border-radius:4px ;
}
.rightnav input {
    margin-top: 6px;
    width: 150px;
    height: 28px;
}

.nav-list {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: flex;
    align-items: center;
    color: white;
}

.nav-list li {

    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;



}

.nav-list li a {

    text-decoration: none;
    color: white;
}

.nav-list li a:hover {

    color: grey;
    border: 2px solid whitesmoke;
    border-radius: 4px;
}


#search {
    /* margin-top: 40px;
    /* margin-right: 50px; */
    padding: 4px;
    border: 2px solid grey;
    border-radius: 4px;
}

/* .btn-sm {
     margin-top: 40px;
     margin-right: 50px; 
    padding: 4px;
    border: 2px solid grey;
    border-radius: 4px
} */

.background {
    background: rgba(0, 0, 0, 0.5) url(bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: serif;
    max-width: 50%;
    margin: auto;
    /* height: 80%; */
}

.firstHalf {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
}

.img {
    width: 70%;
    border: 2px solid gray;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 50px;
    color: wheat;
}

.text-small {
    font-size: 25px;
    margin-top: 50px;
}

.button {

    /* display: flex; */
    padding: 40px;
    text-align: center;
    /* margin: 24px; */
}

.btn {
    padding: 8px;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: none;
    cursor: pointer;
    
}

.btn a{
    text-decoration: none;
    color: white;
}

.service {
    background-color: gray;
    /* margin: 20px; */
    text-align: center;
    background-color: rgb(223, 222, 222);
    justify-content: center;
    align-items: center;

}



h1 {
    font-size: 5em;
}

.secRight {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(223, 222, 222);
    /* padding: 20px; */
    overflow: none;
}


.img-services{
    width: 400px;
    height: 300px;
}


/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 400px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;

    justify-content: center;
    align-items: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-box-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    margin-top: 200 px;
}

/* /* .about{
    background-color: rgb(223, 222, 222);
    background-image: url(bg.avif);
    opacity: 0.8;
    font-family: cursive; */

.stores {

    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(223, 222, 222);

}

.stores01 {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(223, 222, 222);
}

.container {
    padding: 10px;
    width: 400px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    background-color: cadetblue;
}

.box1 {

    justify-content: center;
    align-items: center;

}

h3 {
    font-size: 40px;
}

.order {

    padding: 5px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;

}
.order a{
    text-decoration: none;
}

.contact {
    text-align: center;
    background-color: #f1f1f1;
}

.container01 {
    background-color: #f1f1f1;
    width: 100%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.last {
    display: flex;
    /* height: 200px; */
    /* margin: 25px; */
    /* padding: 25px; */
}

.last div {
    padding: 85px;
    font-size: 25px;
}

.text-footer {
    background-color: black;
    color: white;
    text-align: center;
    /* padding-top: 30px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr{
    height: 5px;
    background-color: black;
    
}

.navigation ul li {
    list-style: none;
}
.navigation ul li a{
    text-decoration: none;
}

